<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather and Scraped Data</title>
    <!-- Link the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Weather Data</h1>
    <ul id="weather-list"></ul>

    <!-- <h1>Scraped Titles</h1>
    <ul id="titles-list"></ul> -->

    <!-- Link the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
